<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}">
<head>
  <meta charset="{{ site.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Dash (https://www.dash.org/team/)">
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, 'js');</script>
  {{ function('wp_head') }}
</head>

<body class="{{ body_class }}">
  <a href="#content" block="contentSkip">Skip to content</a>
  <div block="hero" style="{% block heroStyle %}{% endblock %}">
    <header block="siteHeader">
      <a elem="logo" href="{{ site.url }}">{{ site.name }}</a>
      <nav elem="menu">
        <h1 class="hidden">{{ pll__('Main menu')}}</h1>
        <ul elem="menuList">
          {% for item in menus.main.get_items -%}
            <li elem="menuItem" class="{{ item.class }}"><a elem="menuLink" href="{{ item.get_link }}">{{ item.title }}</a></li>
          {% endfor -%}
          <li elem="menuItem"><a href="https://www.dash.org/get-dash/">{{ pll__('Get Dash')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/merchants/">{{ pll__('Merchants')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/network/">{{ pll__('Network')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/community/">{{ pll__('Resources')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/team">{{ pll__('Team')}}</a></li>
          <li elem="menuItem"><a href="{{ site.url }}">{{ pll__('Blog')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/evolution/">{{ pll__('Evolution')}}</a></li>
          <li elem="menuItem">
            <ul elem="languageList">
              {% for lang in pll_the_languages %}
                <li elem="language"><a href="{{ lang.url }}">{{ lang.name }} <img src="{{ lang.flag }}"></a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <div elem="content">
      {% block breadcrumbs %}{% endblock %}
      <h1 elem="title">{% block title %}{{ site.title }}{% endblock %}</h1>
      <div elem="lead">{% block lead %}
        {{ site.description }}
        <div elem="buttons">
          <a href="https://www.dash.org/community/#community-news" class="btn btn--white-solid">{{ pll__('Community News') }}</a>
        </div>
      {% endblock %}</div>
    </div>
  </div>
  <a id="content"></a>
  {% block content -%}

  {% endblock -%}

  {% include 'footer.twig' %}

</body>
</html>
