<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}">
<head>
  <meta charset="{{ site.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Dash (https://www.dash.org/team/)">
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, 'js');</script>
  {{ function('wp_head') }}
</head>

<body class="{{ body_class }}">

  <div block="hero" style="{% block heroStyle %}{% endblock %}">
    <header block="siteHeader">
      <a elem="logo" href="{{ site.url }}">{{ site.name }}</a>
      <nav elem="menu">
        <h1 class="hidden">{{ __('Main menu', 'dash-wp-theme')}}</h1>
        <ul elem="menuList">
          {% for item in menus.main.get_items -%}
            <li elem="menuItem" class="{{ item.class }}"><a elem="menuLink" href="{{ item.get_link }}">{{ item.title }}</a></li>
          {% endfor -%}
          <li elem="menuItem"><a href="https://www.dash.org/get-dash/" class="nav__link">{{ __('Get Dash', 'dash-wp-theme')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/merchants/" class="nav__link">{{ __('Merchants', 'dash-wp-theme')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/network/" class="nav__link">{{ __('Network', 'dash-wp-theme')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/community/" class="nav__link">{{ __('Resources', 'dash-wp-theme')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/team" class="nav__link">{{ __('Team', 'dash-wp-theme')}}</a></li>
          <li elem="menuItem"><a href="{{ site.url }}" class="nav__link">{{ __('Blog', 'dash-wp-theme')}}</a></li>
          <li elem="menuItem"><a href="https://www.dash.org/evolution/" class="nav__link">{{ __('Evolution', 'dash-wp-theme')}}</a></li>
        </ul>
      </nav>
    </header>

    <div elem="content">
      {% block breadcrumbs %}{% endblock %}
      <h1 elem="title">{% block title %}{{ site.title }}{% endblock %}</h1>
      <div elem="lead">{% block lead %}
        {{ site.description }}
        <div elem="buttons">
          <a href="https://www.dash.org/community/#community-news" class="btn btn--white-solid">{{ __('Community News', 'dash-wp-theme') }}</a>
        </div>
      {% endblock %}</div>
    </div>
  </div>

  {% block content -%}

  {% endblock -%}

  {% include 'footer.twig' %}

</body>
</html>
