<footer block="footer">
  <nav elem="nav">
    <section elem="section">
      <div elem="sectionTitle">{{ pll__(' Get Dash') }}</div>
      <ul>
        <li><a href="https://www.dash.org/get-dash/">{{ pll__('Download Wallet') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">{{ pll__('Buy Dash') }}</a></li>
        <li><a href="https://www.dash.org/merchants/">{{ pll__('Shop with Dash') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">{{ pll__('Dash Debit Card') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ pll__(' Contribute') }}</div>
      <ul>
        <li><a href="https://www.dash.org/mining/">{{ pll__('Start Mining') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Masternode" target="_blank">{{ pll__('Setup a Masternode') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">{{ pll__('Setup a Wallet') }}</a></li>
        <li><a href="https://www.dash.org/governance/">{{ pll__('Apply for Funding') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ pll__(' Network') }}</div>
      <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1867924" target="_blank">{{ pll__('Exchange Markets') }}</a></li>
        <li><a href="https://www.dash.org/governance/">{{ pll__('Governance') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Block+Explorer" target="_blank">{{ pll__('Block Explorers') }}</a></li>
        <li><a href="http://dash-stats.com/" target="_blank">{{ pll__('Network Stats') }}</a></li>
        <li><a href="https://www.dash.org/exchanges/">{{ pll__('Full list of Exchanges') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ pll__(' Resources') }}</div>
      <ul>
        <li><a href="https://www.dash.org/community/#discussion">{{ pll__('Discussion') }}</a></li>
        <li><a href="https://www.dash.org/community/#social">{{ pll__('Social Apps') }}</a></li>
        <li><a href="https://www.dash.org/community/#news">{{ pll__('News &amp; Info') }}</a></li>
        <li><a href="https://www.dash.org/community/#development">{{ pll__('Development Tools') }}</a></li>
        <li><a href="https://www.dash.org/community/#masternodes">{{ pll__('Masternode Tools') }}</a></li>
        <li><a href="https://www.dash.org/legal/">{{ pll__('Legal') }}</a></li>
        <li><a href="https://www.dash.org/graphics/">{{ pll__('Graphics') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ pll__(' Project') }}</div>
      <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">{{ pll__('Help &amp; Support') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">{{ pll__('Project Information') }}</a></li>
        <li><a href="https://www.dash.org/team/">{{ pll__('Team') }}</a></li>
        <li><a href="https://www.dash.org/update/">{{ pll__('Update') }}</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">{{ pll__('Foundation') }}</a></li>
        <li><a href="https://www.dash.org/contact/">{{ pll__('Contact') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">{{ pll__('Wiki') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ pll__(' Social') }}</div>
      <ul elem="social">
        <li><a href="https://www.dash.org/forum/" target="_blank">{{ pll__('Dash forums') }}</a></li>
        <li><a href="https://www.dash.org/blog/">{{ pll__('Blog') }}</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">{{ pll__('Reddit') }}</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">{{ pll__('Twitter') }}</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">{{ pll__('YouTube') }}</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">{{ pll__('Google+') }}</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&amp;gid=8179817&amp;trk=groups_most_recent-h-logo&amp;goback=%2Egmp_8179817" target="_blank">{{ pll__('LinkedIn') }}</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">{{ pll__('Facebook') }}</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">{{ pll__('GitHub') }}</a></li>
      </ul>
    </section>
  </nav>
  <div elem="menu">
    <div elem="languagePicker"></div> <a href="https://www.dash.org/terms-of-use/">{{ pll__('Terms of Use') }}</a> <a href="https://www.dash.org/sitemap.xml">{{ pll__('Sitemap') }}</a> <a href="https://github.com/dashpay/dash-website" target="_blank">{{ pll__('Source code') }}</a> <a href="https://www.dash.org/contact/">{{ pll__('Contact') }}</a> </div>
  <div elem="legal">
    <div elem="copyright">{{ pll__('© %d The Dash Network') | format( now | date('Y') ) }}</div>
  </div>
  {{ function('wp_footer') }}
</footer>
