<footer block="footer">
  <nav elem="nav">
    <section elem="section">
      <div elem="sectionTitle">{{ __(' Get Dash','dash_wp_theme') }}</div>
      <ul>
        <li><a href="https://www.dash.org/get-dash/">{{ __('Download Wallet','dash_wp_theme') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">{{ __('Buy Dash','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/merchants/">{{ __('Shop with Dash','dash_wp_theme') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">{{ __('Dash Debit Card','dash_wp_theme') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ __(' Contribute','dash_wp_theme') }}</div>
      <ul>
        <li><a href="https://www.dash.org/mining/">{{ __('Start Mining','dash_wp_theme') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Masternode" target="_blank">{{ __('Setup a Masternode','dash_wp_theme') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">{{ __('Setup a Wallet','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/governance/">{{ __('Apply for Funding','dash_wp_theme') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ __(' Network','dash_wp_theme') }}</div>
      <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1867924" target="_blank">{{ __('Exchange Markets','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/governance/">{{ __('Governance','dash_wp_theme') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Block+Explorer" target="_blank">{{ __('Block Explorers','dash_wp_theme') }}</a></li>
        <li><a href="http://dash-stats.com/" target="_blank">{{ __('Network Stats','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/exchanges/">{{ __('Full list of Exchanges','dash_wp_theme') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ __(' Resources','dash_wp_theme') }}</div>
      <ul>
        <li><a href="https://www.dash.org/community/#discussion">{{ __('Discussion','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/community/#social">{{ __('Social Apps','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/community/#news">{{ __('News &amp; Info','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/community/#development">{{ __('Development Tools','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/community/#masternodes">{{ __('Masternode Tools','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/legal/">{{ __('Legal','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/graphics/">{{ __('Graphics','dash_wp_theme') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ __(' Project','dash_wp_theme') }}</div>
      <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">{{ __('Help &amp; Support','dash_wp_theme') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">{{ __('Project Information','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/team/">{{ __('Team','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/update/">{{ __('Update','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">{{ __('Foundation','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/contact/">{{ __('Contact','dash_wp_theme') }}</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">{{ __('Wiki','dash_wp_theme') }}</a></li>
      </ul>
    </section>
    <section elem="section">
      <div elem="sectionTitle">{{ __(' Social','dash_wp_theme') }}</div>
      <ul elem="social">
        <li><a href="https://www.dash.org/forum/" target="_blank">{{ __('Dash forums','dash_wp_theme') }}</a></li>
        <li><a href="https://www.dash.org/blog/">{{ __('Blog','dash_wp_theme') }}</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">{{ __('Reddit','dash_wp_theme') }}</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">{{ __('Twitter','dash_wp_theme') }}</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">{{ __('YouTube','dash_wp_theme') }}</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">{{ __('Google+','dash_wp_theme') }}</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&amp;gid=8179817&amp;trk=groups_most_recent-h-logo&amp;goback=%2Egmp_8179817" target="_blank">{{ __('LinkedIn','dash_wp_theme') }}</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">{{ __('Facebook','dash_wp_theme') }}</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">{{ __('GitHub','dash_wp_theme') }}</a></li>
      </ul>
    </section>
  </nav>
  <div elem="menu">
    <div elem="languagePicker"></div> <a href="https://www.dash.org/terms-of-use/">{{ __('Terms of Use','dash_wp_theme') }}</a> <a href="https://www.dash.org/sitemap.xml">{{ __('Sitemap','dash_wp_theme') }}</a> <a href="https://github.com/dashpay/dash-website" target="_blank">{{ __('Source code','dash_wp_theme') }}</a> <a href="https://www.dash.org/contact/">{{ __('Contact','dash_wp_theme') }}</a> </div>
  <div elem="legal">
    <div elem="copyright">{{ __('© %d The Dash Network','dash_wp_theme') | format( now | date('Y') ) }}</div>
  </div>
</footer>
