{% extends "base.twig" %}

{% block content %}
  <main>
    <div block="teaserList">
      {% for post in posts %}
        <article block="teaser">
          <div elem="image" style="{% if post.thumbnail %}background-image:url({{ post.thumbnail.src }}){% endif %}"></div>
          <h1 elem="title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
          <div elem="date">{{ post.date }}</div>
          <div elem="body">
            {{ post.get_preview(20, false, "") }}
          </div>
        </article>
      {% endfor %}
    </div>
    {% if posts.pagination and posts.pagination.total > 1 %}
      <!-- Prev 1 ... 4 5 [6] 7 8 ... 22 Next -->
      <nav class="pagination">Pages:
        {% for page in posts.pagination.pages %}
          {% if page.current %}
            <span class="btn">{{ page.title }}</span>
          {% elseif page.link %}
            <a class="btn btn--white-solid" href="{{ page.link }}">{{ page.title }}</a>
          {% else %}
            <span class="pagination__ellipsis">{{ page.title }}</span>
          {% endif %}
        {% endfor %}
      </nav>
    {% endif %}
  </main>
{% endblock %}
