{% extends "base.twig" %}

{% block content %}
  <main>
    <div block="teaserList">
      {% for post in posts %}
        <article block="teaser">
          <div elem="image" style="{% if post.thumbnail %}background-image:url({{ post.thumbnail.src }}){% endif %}"></div>
          <h1 elem="title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
          <div elem="date">{{ post.date }}</div>
          <div elem="body">
            {{ post.get_preview(20, false, "") }}
          </div>
        </article>
      {% endfor %}
    </div>
  </main>
{% endblock %}
